<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Chefabook</title>
    <!-- Importa o CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='uploads/styles.css') }}">
</head>
<body>

    <!-- Container principal -->
    <div class="container">
        <!-- Título da página -->
        <h2>Bem-vindo ao Chefabook!</h2>
        <!-- Descrição da funcionalidade do site -->
        <p>Explore e compartilhe receitas deliciosas.</p>
        <!-- Botão para login -->
        <a href="{{ url_for('login') }}">
            <button class="btn-login">Entrar</button>
        </a>
    </div>

</body>
</html>
